## School table

In [1]:
import pandas as pd
import numpy as np
import random
import ast

In [3]:
# Load the home listings data
home_listings = pd.read_csv('/Users/chenxinyu/Desktop/home_listings.csv')

In [4]:
# Initialize the empty list to store school data extracted from the home listings
schools_list = []

In [5]:
# Set school types and levels
# assume  school type to be private or public
# assume school level to be classified into 'Middle', 'High', 'Elementary', 'Pre-K'
school_types = ['Public', 'Private']
school_levels = ['Middle', 'High', 'Elementary', 'Pre-K']

In [6]:
# Iterates over each row in the home_listings DataFrame 
# Extracts the city and zip code from the home listing
for idx, row in home_listings.iterrows():
    try:
        schools = ast.literal_eval(row['Nearby Schools'])
    except ValueError:
        continue 

    city = row['City']
    zip_code = row['Zip Code']
    
    for school_dict in schools:
        # Extract school name and rating from 'Nearby Schools' column in home_listings table
        school_name = school_dict['name']
        school_rating = school_dict['rating']
        # Appends a dictionary to schools_list with school information, including a randomly assigned type and level
        schools_list.append({
            'School': school_name,
            'School Rating': school_rating,
            'School Type': random.choice(school_types),
            'School Level': random.choice(school_levels),
            'City': city,
            'ZIP Code': zip_code
        })

In [7]:
# Create a DataFrame
schools_df = pd.DataFrame(schools_list)

In [8]:
# Save to CSV
schools_df.to_csv('/Users/chenxinyu/Desktop/schools.csv', index=False)

In [9]:
# display the DataFrame
schools_df

,School,School Rating,School Type,School Level,City,ZIP Code
0,"Jackson, Smith and Williams",5,Private,Middle,New York,10060
1,Wilson Inc,8,Private,Elementary,New York,11033
2,"Brown, Martin and Mann",0,Private,Middle,New York,11033
3,Burns Inc,6,Private,High,New York,11033
4,Weaver-Vargas,0,Public,Elementary,Buffalo,10410
...,...,...,...,...,...,...
1995,"Maldonado, Smith and Fernandez",10,Public,Elementary,New Haven,6077
1996,"Brown, Jackson and Hensley",9,Public,Middle,New Haven,6077
1997,Smith-Good,8,Public,Middle,New Haven,6056
1998,Rodriguez PLC,9,Private,Middle,New Haven,6056
1999,Evans and Sons,6,Private,Pre-K,New Haven,6056